.container {
  width: 50%;
  flex-wrap: wrap;
  min-width: 350px;
}

@media (max-width: 699px) {
  .container {
    width: 90%;
    flex-wrap: wrap;
    min-width: 350px;
  }
}

.skillTextBox img {
  margin: 2px;
  width: 12vw;
  height: 12vw;
  max-width: 100px;
  max-height: 100px;
}

.skillDescription {
  width: auto;
  margin: 0px;
  flex-wrap: wrap;
  padding: 20px;
}

.skillTextBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.skillAndYears h2,
.skillAndYears p {
  min-width: 200px;
  margin: 0px 0px 0px 10px;
}
