.skillRow {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 2; /* Lower z-index */
}

.skillRow a:hover {
  cursor: pointer;
}

.skillRow img {
  margin: 0px 2px 2px 2px;
  width: 12vw;
  max-width: 100px;
  min-width: 60px;
  min-height: 60px;
  transition: transform 0.3s ease; /* Smooth transition effect */
  cursor: pointer;
}

.skillContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px 0px 20px 0px;
}

/* Hover state */
.skillRow img:hover {
  transform: translateY(-20px); /* Lift the element up by 50px */
}

.activeSkill {
  transform: translateY(-20px);
}

.noSkillHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 40px;
  color: white;
}

.breathingText {
  text-align: center; /* Center text horizontally */
  animation: breathe 4s infinite ease-in-out; /* Adjust duration as needed */
}

@keyframes breathe {
  0% {
    opacity: 0; /* Start fading out */
  }
  50% {
    opacity: 1; /* Fully visible */
  }
  100% {
    opacity: 0; /* Fade out again */
  }
}

.bounceElement {
  /* Animation */
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at the same position */
  }
  50% {
    transform: translateY(-20px); /* Bounce up */
  }
}
