.contactWholeContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

.contactSection {
  width: 50%;
}

.links {
  display: flex;
  align-items: center;
}

.links img {
  max-width: 50px;
  max-height: 50px;
  margin: 5px;
}
