.resumeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.desktopResumeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 600px;
}

.mobileResumeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.mobileResumeContainer p,
.mobileResumeContainer a {
  margin-bottom: 10px;
}

.mobileResumeContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  width: 95%;
  height: 50px;
}

.resumeSide {
  width: 50%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumeSide a {
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: center;
  border-radius: 40px;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 30px;
}

.bioSide {
  width: 45%;
  min-width: 300px;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.iframe {
  margin: 0px 10px 0px 10px;
}

.resumeDownloadTextBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 30px;
  text-align: center;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
